@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald&display=swap');

#organization p {
	line-height: 160%;
}

#organization .member-profile {
	color: #fff;
	margin-bottom: 30px;
	transition: all 0.1s ease-in;
}

#organization img {
	border: 0;
}

/* Buttons */
#organization .btn {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 40px;
	color: rgba(255, 255, 255, 0.95);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 20px;
	outline: 0;
	transition: all 0.1s ease-in;
}

#organization .btn-transparent {
	background: rgba(0, 0, 0, 0.2);
}

#organization .btn-transparent:hover {
	background: rgba(0, 0, 0, 0.4);
}

/* Separators */
#organization .separator {
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.2);
	width: 30px;
	height: 5px;
}

/* 02. FONT FACE ============================================ */

@font-face {
	font-family: 'norwester';
	src: url('/assets/fonts/norwester/norwester.eot');
	src: url('/fonts/norwester/norwester.eot?iefix') format('embedded-opentype'),
		url('/fonts/norwester/norwester.ttf');
	font-weight: normal;
}

/* 03. SPEAKERS SETTINGS ============================================ */

#organization {
	padding: 30px 0;
	background: #ffffff;
	text-align: center;
}

#organization p {
	padding: 20px 0 60px;
	color: rgba(255, 255, 255, 0.85);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
}

#organization h3 {
	padding: 0 0 15px;
	font-family: 'norwester';
	font-size: 36px;
	text-transform: uppercase;
}

#organization img {
	width: 100%;
	max-width: 240px;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.18);
	transition: all 0.1s ease-in;
}

#organization img:hover {
	position: relative;
	z-index: 10;
	transition: all 0.1s ease-in;
}

/* Member Image Hover Effect */
#organization .hover_img {
	display: none
}

#organization .member-profile:hover .unhover_img {
	display: none;
}

#organization .member-profile:hover .hover_img {
	display: block;
}

/* Social Networks Meta */
#organization li {
	display: inline-block;
	padding: 0 6px;
	font-size: 18px;
}

#organization li a {
	color: rgba(0, 0, 0, 0.3);
	transition: all 0.1s ease-in;
}

#organization li a:hover {
	color: rgba(0, 0, 0, 0.7);
}

#organization .img-cropper {
	width: 70px;
	height: 70px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #11BE85;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}

#organization .img-cropper:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}

#organization .box-employe {
	height: 150px;
	width: 100%;
	margin-top: -40px;
	background-color: #ffffff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}

#organization .front-name {
	color: #6B6B6B;
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
	margin-left: 8px;
	font-family: 'Oswald', sans-serif;
}

#organization .end-name {
	width: 50%;
	color: #6B6B6B;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	margin-top: -10px;
	margin-left: 8px;
	margin-right: 50px;
	font-family: 'Oswald', sans-serif;
}

#organization .box-position {
	margin-top: 10px;
	width: 100%;
	height: 30px;
	background-color: #11BE85;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 7px;
	padding: 2px;
}

#organization .position-org {
	font-family: 'Lobster',
		cursive;
	font-size: 14px;
}


/* Desktop Version */
@media (min-width: 992px) {

	#organization .img-cropper {
		width: 150px;
		height: 150px;
		position: relative;
		overflow: hidden;
		border-radius: 50%;
		border: 7px solid #11BE85;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
		-webkit-transition: 0.4s ease;
		transition: 0.4s ease;
	}

	#organization .img-cropper:hover {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
		-webkit-transform: scale(1.08);
		transform: scale(1.08);
	}

	#organization .box-employe {
		height: 230px;
		width: 100%;
		margin-top: -80px;
		background-color: #ffffff;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding-top: 80px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
	}

	#organization .front-name {
		color: #6B6B6B;
		margin-top: 10px;
		text-align: left;
		font-size: 20px;
		margin-left: 50px;
		font-family: 'Oswald', sans-serif;
	}

	#organization .end-name {
		color: #6B6B6B;
		text-align: left;
		font-weight: bold;
		font-size: 30px;
		margin-top: -10px;
		margin-left: 50px;
		font-family: 'Oswald', sans-serif;
	}

	#organization .box-position {
		margin-top: 10px;
		width: 100%;
		height: 45px;
		background-color: #11BE85;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border-radius: 7px;
		padding: 7px;
	}

	#organization .position-org {
		font-family: 'Lobster',
			cursive;
		font-size: 19px;
	}

	#organization .member-profile {
		margin-bottom: 70px;
	}

	#organization {
		padding: 70px 0;
	}

}
